* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  padding-block: 1rem;
  border-bottom: 1px solid grey;
  color: #333;
  background-color: antiquewhite;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: blanchedalmond;
  font-family: "Roboto", serif;
}

.pokemon__card {
  margin-top: 0.5rem;
  width: 15rem;
  height: 20rem;
  display: flex;
  border: 3px solid white;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.pokemon__card > img {
  width: 10rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: beige;
}
.pokemon__card > h2 {
  position: absolute;
  top: 10px;
}

.pokemon__container {
  display: grid;
  justify-self: center;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
